.card {
    color: white;
    padding: 1rem;
}

.cards {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.footer_container {
    max-width: 1920px;
    margin: 0 auto;
}

.contact-info {
    display: grid;
}

.contact-form {
    display: grid;
}

.card:nth-child(4n-2) {
    display: flex;
    align-items: flex-end;
}

.card:nth-child(4n-1) {
    display: grid;
    grid-column: span 2;
}

@media (max-width: 1440px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
    .card:nth-child(4n-1) {
        display: grid;
        grid-column: span 2;
    }

}

@media (max-width: 768px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .card:nth-child(4n-1) {
        display: grid;
        grid-column: span 1;
    }

}

@media (max-width: 375px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .card:nth-child(4n-1) {
        display: grid;
        grid-column: span 1;
    }

}