body { 
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
    background-image: url("images/bg.jpg");
    background-repeat:inherit;
    background-size: cover; 
}

main {
    min-height: calc(100vh - 74.8px);
}

header {
    background-color: rgb(21,236,163);
    border-bottom: 1px solid rgba(0, 0, 0, 0.446);
    box-shadow: 0 3px 5px black;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding-top: 1%;
    padding-right: 3.5%;
    padding-bottom: 1%;
}

.navbar .home-button {
    padding-left: 3.5%;
    transition: color 0.5s;
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar nav a:hover {
    color: rgb(243, 243, 243);
    transition: color 0.5s;
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.container {
    max-width: 2560px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl {
  border-left: 4px solid rgb(255, 255, 255);
  z-index: 1;
  margin-left: 50%;
  margin-top: 100px;
  position: absolute;
  height: 55rem;
  box-shadow: 0 3px 5px rgb(255, 255, 255);;
}

.box1 {
    color: white;
    width: 500px;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    margin-right: 25rem;
    margin-top: 5rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgb(255, 255, 255);
    background-image: url("images/bg.jpg");
    background-repeat:inherit;
    background-size: cover;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    filter: drop-shadow(0 0 0.75rem rgb(126, 3, 192));
}

.box2 {
    color: white;
    width: 500px;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    margin-left: 25rem;
    margin-top: 17.5rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgb(255, 255, 255);
    background-image: url("images/bg.jpg");
    background-repeat:inherit;
    background-size: cover;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    filter: drop-shadow(0 0 0.75rem rgb(126, 3, 192));
}


.box3 {
    color: white;
    width: 500px;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    margin-right: 25rem;
    margin-top: 30rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgb(255, 255, 255);
    background-image: url("images/bg.jpg");
    background-repeat:inherit;
    background-size: cover;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    filter: drop-shadow(0 0 0.75rem rgb(126, 3, 192));
}

.box_ico{
    filter: drop-shadow(0 0 0.75rem rgb(137, 23, 198));
}

.box4 {
    color: white;
    width: 900px;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    margin-top: 45rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    box-shadow: 0 3px 5px rgb(255, 255, 255);
    background-image: url("images/bg.jpg");
    background-repeat:inherit;
    background-size: cover;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    filter: drop-shadow(0 0 0.75rem rgb(126, 3, 192));
}

.footer_bar {
    width: 100%;
    align-items: center;
    text-align: center; 
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(21,236,163);
    justify-content: center;
    display: block;
    z-index: 4;
    position: absolute;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.image_link {
    border-color: 2px rgb(21,236,163);
}