<div class="box_footer">
    <div class="box7">
        <div class="footer_container">
        <div class="cards">
            <div class="card">
                <div id="contact_me" class="contact-info">
                    <h2>DO YOU HAVE A PROJECT TO DISCUSS?</h2>
                    <p>GET IN TOUCH<img class="dev_ico1" src="images/chat (1).png" width="30" height="30">
                    </p>
                    <div class="contact-details">
                        <div>
                            <h3>Contact</h3>
                            <p class="email">adrien_dejonc@eticalgarve.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="contact-column">
                    <h3>Social Media</h3>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/"><img class="dev_ico1"
                                src="images/social (1).png" width="30" height="30"></a>
                        <a href="https://www.github.com/"><img class="dev_ico1" src="images/social_git.png"
                                width="30" height="30"></a>
                        <a href="https://www.instagram.com/"><img class="dev_ico1" src="images/video.png"
                                width="30" height="30"></a>
                        <a href="https://www.discord.com/"><img class="dev_ico1" src="images/logo.png"
                                width="30" height="30"></a>
                        <a href="mailto:adrien_dejonc@eticalgarve.com"><img class="dev_ico1"
                                src="images/mail.png" width="30" height="30"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="contact-form">
                    <h2>CONTACT FORM</h2>
                    <form>
                        <input type="text" name="name" placeholder="John Doe" required>
                        <input type="email" name="email" placeholder="john_doe@gmail.com" required>
                        <textarea name="message" placeholder="Leave me a message..." rows="1"
                            required></textarea>
                        <button type="submit">SEND</button>
                    <p id="erro" style="color: red;"></p>
                    </form>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright &copy; 2025 <b>Adrien Dejonc</b>. All Rights Reserved.</b></p>
    </div>
</div>