.flip_button {
    background: linear-gradient(180deg, #06cef1, #000001);
    border: none;
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}

.title_project {
    color: rgb(243, 243, 243);
    font-size: 100px;
    text-shadow: 1px 1px 2px rgb(0, 55, 255), 0 0 1em rgba(0, 247, 255, 0.527), 0 0 0.2em rgba(0, 255, 247, 0.516);
    filter: drop-shadow(0 0 0.75rem rgba(0, 247, 255, 0.305)); 
    padding-left: 25px;
}

.flip-card-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    margin-top: 250px;
}

#card_box {
    max-width: 100%;
    perspective: 1000px;
    padding: 25px;
  }
  


  #card_box, .flip-card {
    position: relative;
    width: auto;
    height: 250px;
  }

  .flip-card {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
  }
  
  .flip-card:Hover {
    transform: rotateY(180deg);
  }

  .flip-card.flipped {
    transform: rotateY(180deg);
}
  
  #flip-card-front, #flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 3px 5px rgb(255, 255, 255);
    background-color: rgb(6, 6, 6);
    text-shadow: 1px 1px 2px rgb(0, 55, 255), 0 0 1em rgb(0, 247, 255), 0 0 0.2em rgb(0, 255, 247);
    filter: drop-shadow(0 0 0.75rem rgb(0, 247, 255));

    .card_banner {
        position: absolute;
        height: 100px;
        width: 100%;
        text-align: center!important;
        border-radius: 10px;
        font-size:x-large;
        font-weight: bold;
        box-shadow: 0 1px 5px rgb(0, 0, 0);
        background-color: #00000046;
    }

    p {
        color: rgb(255, 255, 255)!important;
        text-shadow: 1px 1px 2px black;
        font-size: large;
        padding-top: 130px;
        text-align: center;
    }
  }
  
  #flip-card-front, #flip-card-back {
    border-radius: 10px;
    backface-visibility: hidden;
    font-size: 1em;
  }
  
  #flip-card-back {
    box-shadow: 0 0 5px rgb(230,230,230);
    background-color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    color: #222;
  }
  
  #flip-card-front {
    box-shadow: 0 0 5px rgb(22,22,22);
    background-color: rgba(27, 27, 27, 0);
    background-image: url("./images/bg.png");
    background-repeat: inherit;
    background-size: cover;
    color: #aaa;
  }

  @media (max-width: 1440px) {
    .title_project {
        padding-left: 25px;
        font-size: 100px; 
    }
    .flip-card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        display: grid;
    }
    #flip-card1 {
        grid-column: 1;
        grid-row: 1;
    }
    #flip-card2 {
        grid-column: 2;
        grid-row: 1;
    }
    #flip-card3 {
        grid-column: 3;
        grid-row: 1;
    }
  }

  @media (max-width: 768px) {
    .title_project {
        font-size: 65px;
        padding-left: 25px;
    }
    .flip-card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        display: grid;
    }
    #flip-card1 {
        grid-column: 1;
        grid-row: 1;
    }
    #flip-card2 {
        grid-column: 2;
        grid-row: 1;
    }
    #flip-card3 {
        grid-column: 1;
        grid-row: 2;
    }
  }

  @media (max-width: 425px) {
    .title_project {
        font-size: 35px;
        padding-left: 25px;
    }
    .flip-card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        display: grid;
    }
    #flip-card1 {
        grid-column: 1;
        grid-row: 1;
    }
    #flip-card2 {
        grid-column: 1;
        grid-row: 2;
    }
    #flip-card3 {
        grid-column: 1;
        grid-row: 3;
    }
  }

  @media (max-width: 375px) {
    .title_project {
        font-size: 35px;
        padding-left: 20px;
    }
    .flip-card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        display: grid;
    }
    #flip-card1 {
        grid-column: 1;
        grid-row: 1;
    }
    #flip-card2 {
        grid-column: 1;
        grid-row: 2;
    }
    #flip-card3 {
        grid-column: 1;
        grid-row: 3;
    }
  }


  